/* font */
body{
    font-family: 'Cairo', sans-serif;
    color: #565656;
}

/* header section */
.background{
    background: #264653 ;    
}
.button-color{
    background: #E76F51;
}
.header-bike img{
width:100%;
}

/* best bike section */
#best-bike{
    color: #E76F51;
    font-weight: 700;
}
.feature-bikes img{
width:288px;
height: 243px;;
}
.grayscale img{
    filter: grayscale(100%) ;
}

/* client section */
#client{
    color: #E76F51;
}
.star-color {
    color: #E77C40;
}
.image-size img{
width: 149px;
height: 149px;
border-radius:50%;
}

/* accordian section */
.faq-image img {
width: 400px;
height: 380px;
margin-bottom: 80px;
}

/* accessories section */
.accessories-image img{
    height: 250px;
    width: 180px;
}
.accessories-name{
    color: #E76F51;
}
.accesories-button{
    background: #E76F51;
}
.accessories-detail{
    font-size:18px;
}

/* mailing section */
.font-size{
    font-weight: bold;
}